<!DOCTYPE html>
<html ng-app="workspaceApp">

<head>
    <meta charset="utf-8">
    <title>Workspace</title>
    <link rel="shortcut icon" href="img/favicon.ico.png" type="images/x-icon">
    
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>

    <link rel="stylesheet" href="style/style.css" type="text/css">
    <link rel="stylesheet" href="style/styleModal.css" type="text/css">

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controller/Workspace.controller.js"></script>
    <script src="js/shared/editModal/edit.modal.js"></script>
    <script src="js/shared/editModal/info.modal.js"></script>
</head>

<body>
    <div class='logoline'>
        <p>WORKSPACE</p>
        <div class="button">home</div>
        <div class="button">me</div>
    </div>
    <div class='mainbody'>
        <div ng-controller="WorkspaceController">
            <div class="searchItems">
                <input type="text" class='search-field' ng-model='searchEmployee'>
                <img class='searchImg' src=img/search.png>
            </div>
            <div class="button" ng-click="createEmployee()" >add a new employee</div>
            <div class="employees">
                <div class="whitebox" ng-click="openModalWindow(employee)" ng-repeat='employee in employeeList | filter:{surname:searchEmployee}'>
                    <div class="small">
                        <img ng-src={{employee.src}} >
                    </div>
                    <div class="infMainPage">
                        <h1>{{employee.name}} {{employee.surname}}</h1>
                        <h2>{{employee.age}}</h2>
                        <h2>{{employee.sex}}</h2>
                        <h2>{{employee.role}}</h2>
                        <div class="connections">
                            <img src=img/skype.jpg>
                            <img src=img/post.png>
                            <img src=img/phone.png>
                        </div>
                    </div>
                </div>
            </div>
            <info-employee-modal show-employee-info-dialog="showEmployeeInfoDialog" selected-employee="selectedEmployee" ></info-employee-modal>
            <edit-employee-modal show-employee-edit-dialog="showEmployeeEditDialog" selected-employee="selectedEmployee"></edit-employee-modal>
            
        </div>
    </div>
</body>
<footer>
    2017 &copy; Anastasia
</footer>

</html>
