*{
    margin: 0;
    padding: 0;
    font-family: Abel;
}
.logoline{
    width: 95%;
    max-width: 1800px;
    margin: 15px;
    display: flex;
    color: white;
    background: rgb(30, 114, 227);
    padding: 5px 10px;
    font-size: 7vw;
}
.logoline>p{
    flex-grow: 2;
}
.logoline>.button{
    background: white;
    font-size: 5vw;
    color: rgb(30, 114, 227);
    margin: 0px 5px;
    border: white;
    color: rgb(14, 31, 230)
}
.logoline>.button:hover{
    background: rgb(247, 83, 177);
    font-weight: 800;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
.mainbody{
    width: 95%;
    max-width: 1800px;
    background: rgba(170, 223, 252, 0.75);
    margin: 15px;
    padding: 10px;
}
.search-field{
   width: 95%;
}
.searchItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;    
}
.employees{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.whitebox{
    width: 30%;             
    background: white;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-size: 1.5vw;
    color: rgb(14, 31, 230);
    border: 1px rgba(170, 223, 252, 0.75) solid;
    font-size: 1.25vw;
    display: flex;
    justify-content: space-between;
}
.small{
    width: 50%;
    height: 100%
}
.infMainPage{
    display: flex;
    flex-direction: column;
}
.infMainPage h1{
    flex-grow: 2;
}
.connections{
    display: flex;
    flex-grow: 2;
    align-items: flex-end;
}
.connections img{
    width: 25%;
    margin: 3px;
    border: solid 1px white;
    margin: auto;
}
.connections img:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
}
.button{
    border: 1px solid black;
    background: white;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
}
.button:hover{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    font-weight: 800;
    background: rgb(247, 83, 177); 
}
.whitebox:hover{
    box-shadow: inset 0 0 0 5px rgb(113, 113, 113);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
@media screen and (max-width: 800px) {
    .whitebox {
        width: 43%;
        font-size: 1.75vw;
}

@media screen and (max-width: 400px) {
    .whitebox {
        width: 90%;
        font-size: 4vw;
    }
}