.modalWindow {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.65);
}

.modalContent {
    background: rgb(255, 255, 255);
    margin: 15% auto;
    border: 2px solid rgb(14, 31, 230);
    width: 60%;
    max-width: 400px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.modalContent span {
    float: right;
    margin-right: 3px;
}

.modalContent img {
    width: 45%;
    height: 45%;
}

.modalContent .information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modalForm {
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: space-around;
}

.action-buttons .button {
    border: 1px solid black;
    width: 40%;
    margin: 5px;
    text-align: center;
    display: inline-block;
}

.modalContent p {
    width: 95%;
    font-size: 18px;
    text-align: center;
    margin: 5px;
}
.block1{
    display: flex;
    margin: 5px;
    justify-content: space-around;
}
.ng-invalid.ng-touched{
    background: red;
}