*{
    margin: 0;
    padding: 0;
}
.logoline{
    width: 90%;
    max-width: 1800px;
    margin-top: 2%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    font-size: 52px;
    color: rgb(14, 31, 230);
}
.logo{
    width: 15%;
    max-width: 146px;
    height: 15%;
    max-height: 146px;
}
.mainbody{
    width: 90%;
    max-width: 1800px;
    display: flex;
    background: rgba(170, 223, 252, 0.75);
    margin-top: 2%;
    margin-left: 5%;
    justify-content: space-between;
    flex-wrap:wrap;
    padding: 2%;
}
.search-field{
   width: 100%;
   margin-bottom:2%; 
}

