<div class="modalWindow" ng-show="showEmployeeEditDialog">
    <div class="modalContent">
        <div class="modalForm">
            <form class='information' name='employeeInfo'>
                Name: <br>
                <input type="text" name='name' ng-model='selectedEmployee.name' required ng-minlength='2'>
                Surname:
                <br>
                <input type="text" name='surname' ng-model="selectedEmployee.surname" > 
                Sex:
                <br>
                <input type="radio" name="sex" value="male" ng-model="selectedEmployee.sex"> 
                male
                <br>
                <input type='radio' name='sex' value='female' ng-model="selectedEmployee.sex"> 
                female
                <br> 
                Role
                <br>
                <select name='role' ng-model="selectedEmployee.role" >
                    <option value="Chairman">Chairman</option>
                    <option value="Manager">Manager</option>
                    <option value="Consultant">Consultant</option>
                </select>
            </form>
            <div class="action-buttons">
                <div class="button" ng-click="saveEmployee()">save</div>
                <div class="button" ng-click="cancelChanges()">cancel</div>
            </div>
        </div>
    </div>
</div>
