<div class="modalWindow" ng-show="showEmployeeInfoDialog">
    <div class="modalContent">
        <span ng-click='onClose()'>&times</span>
        <div class="modal">
            <div class='photoBlock'>
                <img ng-src={{selectedEmployee.src}}>
            </div>
            <div class='informationForm'>
                <h2>{{selectedEmployee.name}} {{selectedEmployee.surname}}</h2>
                <p>{{selectedEmployee.age}}</p>
                <p>{{selectedEmployee.sex}}</p>
                <p>{{selectedEmployee.role}}</p>
                <div class="action-buttons">
                <div class="button" ng-click="openModalEdit()">edit</div>
                <div class="button" ng-click="deleteEmployee()">delete</div>
            </div>
            </div>  
        </div>
    </div>
</div>
